.book {
    background-color: #66b3ff;
    border-radius: 8px;
    margin-bottom: 7px;
}

.book-img {
    width: 90%;
    height: 250px;
    padding-top: 10px;
    border-radius: 8px;
}

.book-details{
    padding-bottom: 8px;
}

.book-details p {
    text-align: center;
    font-size: 18px;
}

.actions {
    display: flex;
    justify-content: center;
}