.all-books-header {
    text-align: center;
}

.search-add {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    gap: 30px
}   
        
.book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 25px 0;
}

.book:last-child {
    border: none;
}

@media screen and (max-width: 1150px) {

    .search-add {
        margin: 50px 0;
        justify-content: center;
    }
    .book {
        flex-direction: column;
    }
}