.favorite-book-img {
    width: 225px;
    height: 275px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(103, 182, 255);
}

.favorite-book-description {
    margin: 8px 0;
}

.pi {
    font-size: 2rem;
}