<header class="header">
  <a routerLink="/">
    <div class="logo">
      <img
        class="logo-img"
        src="../../../assets/Book-Logo-PNG-Photos.png"
        alt="logo"
      />
      <h1 class="logo-text">{{ logoText }}</h1>
    </div>
  </a>
  <ul class="header-links">
    <li><a class="header-link" routerLink="all-books">All Books</a></li>
    <li>
      <a class="header-link" routerLink="favorite-books">Favorite books</a>
    </li>
    <li><a class="header-link" routerLink="customers">Customers</a></li>
    <li><a class="header-link" routerLink="borrowings">Borrowings</a></li>
  </ul>
</header>
