.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 370px;
    gap: 20px;
    box-shadow: 10px 10px 5px rgb(65, 163, 255);
}

.logo-img {
    width: 40%;
}

.logo-text {
    font-size: 24px;
    color: black;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
    text-transform: capitalize;
}

.header-links {
    display: flex;
    gap: 30px;
}

.header-link {
    font-size: 20px;
    color: black;
}

.header-link:hover{
    color: #fafafa;
}

@media screen and (max-width: 1250px) {
    .logo{
        width: 250px;
    }

}

@media screen and (max-width: 1100px) {
    .header-links {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .header-links {
       position: absolute;
       top: 6%;
       right: 12%;
    }

}