.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 385px;
}

.logo-img {
    width: 150px;
}

.logo-text {
    font-size: 24px;
    color: black;
}

.logo-text:hover{
    color: #66b3ff
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
    text-transform: capitalize;
}

.header-links {
    display: flex;
    gap: 30px;
}

.header-link {
    font-size: 20px;
    color: black;
}

.header-link:hover{
    color: #66b3ff
}