<form [formGroup]="customerForm" (ngSubmit)="onAddCustomer()">
  <div class="customer-form">
    <label for="username">Username</label>
    <input
      class="ng-touched"
      type="text"
      id="username"
      pInputText
      formControlName="username"
    />
  </div>
  <div class="customer-form">
    <label for="firstName">First Name</label>
    <input
      class="ng-touched"
      type="text"
      id="firstName"
      pInputText
      formControlName="firstName"
    />
  </div>
  <div class="customer-form">
    <label for="lastName">Last Name</label>
    <input
      class="ng-touched"
      type="text"
      id="lastName"
      pInputText
      formControlName="lastName"
    />
  </div>
  <div class="form-actions">
    <p-button
      label="Cancel"
      styleClass="p-button-danger"
      (onClick)="onCancelCustomer()"
    ></p-button>
    <p-button
      type="submit"
      label="Add"
      styleClass="p-button-success"
      [disabled]="!customerForm.valid"
    ></p-button>
  </div>
</form>
