<div class="borrowing">
  <div class="book">
    <img class="book-img" src="{{ book.imgUrl }}" />
    <div class="book-details">
      <p>{{ book.title }}</p>
      <p>{{ book.author }}</p>
    </div>
  </div>
  <div class="customer-details">
    <p>Borrowed by:</p>
    <h3>{{ customer.firstName }} {{ customer.lastName }}</h3>
  </div>
  <div class="actions">
    <p-button
      label="Return book"
      styleClass="p-button-secondary"
      (click)="onReturnBook()"
    ></p-button>
  </div>
</div>
