.borrowing {
    display: flex;
    align-items: center;
    flex: 1;
}

.book {
    display: flex;
    align-items: center;
    flex: 1;    
}

.book-img {
    width: 115px;
    height: 150px;
}

.book-details {
    font-size: 20px;
    margin-left: 30px;
}

.customer-details {
    font-size: 18px;
    flex: 1;
    text-align: center;
}

.actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}