.edit-header {
   text-align: center;
}

.book-form {
   margin: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.book-form label {
   margin: 5px 0;
   font-size: 20px;
}

.book-form input {
   height: 40px;
   width: 300px;
   padding: 0 7px;
   font-size: 20px;
}

.img-responsive {
   max-width: 200px;
   max-height: 300px;
}

.form-actions {
   display: flex;
   justify-content: center;
}

.cancelBtn {
   width: 75px;
   height: 30px;
   border: none;
   border-radius: 3px;
   font-size: 18px;
   background-color: red;
   cursor: pointer;
   transition: 0.3s ease;
   margin: 0 35px;  
}

.cancelBtn:hover{
   background-color: rgb(200, 0, 0);
}

.saveBtn {
   width: 75px;
   height: 30px;
   border: none;
   border-radius: 3px;
   font-size: 18px;
   background-color: greenyellow;
   cursor: pointer;
   transition: 0.3s ease;
   margin: 0 35px;
}

.saveBtn:hover{
   background-color: rgb(133, 221, 2);
}