.book-form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-form label {
    margin: 5px 0;
    font-size: 20px;
}

.book-form input {
    height: 40px;
    width: 300px;
    font-size: 20px;
}

.img-responsive {
    max-width: 150px;
    max-height: 250px;
}

.book-checkbox{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    margin-bottom: 10px;
 }

.form-actions {
    display: flex;
    justify-content: center;
    gap: 200px
}