<form [formGroup]="bookForm" (ngSubmit)="onAddBook()">
  <div class="book-form">
    <label for="title">Title</label>
    <input
      class="ng-touched"
      type="text"
      id="title"
      pInputText
      formControlName="title"
    />
  </div>
  <div class="book-form">
    <label for="author">Author</label>
    <input
      class="ng-touched"
      type="text"
      id="author"
      pInputText
      formControlName="author"
    />
  </div>
  <div class="book-form">
    <label for="imgUrl">Image Url</label>
    <input
      class="ng-touched"
      type="text"
      id="imgUrl"
      #imagePath
      pInputText
      formControlName="imgUrl"
    />
  </div>
  <div class="book-form">
    <img class="img-responsive" [src]="imagePath.value" />
  </div>
  <div class="book-checkbox">
    <p-checkbox
      inputId="isFavorite"
      [binary]="true"
      formControlName="isFavorite"
    ></p-checkbox>
    <label for="isFavorite">Favorite</label>
  </div>
  <div class="form-actions">
    <p-button
      label="Cancel"
      styleClass="p-button-danger"
      (click)="onCancelBook()"
    ></p-button>
    <p-button
      type="submit"
      label="Add"
      styleClass="p-button-success"
      [disabled]="!bookForm.valid"
    ></p-button>
  </div>
</form>
