.customer-header {
    text-align: center;
}

.addBtn {
    text-align: right;
}

.customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 15px 0;
}

.customer:last-child {
    border: none;
}