.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-height: 800px;
    padding: 10px 50px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px;
    box-shadow: 30px 20px 5px rgb(220, 220, 220);
    background-image: linear-gradient(to bottom right, rgb(117, 179, 255), rgb(200, 251, 255));
}

.container::-webkit-scrollbar {
    display: none;
}