<h2 class="borrowing-header">Borrow book</h2>
<form [formGroup]="borrowingForm" (ngSubmit)="onBorrowBook()">
  <p-dropdown
    class="borrowing-form ng-dirty"
    formControlName="selectedCustomer"
    [options]="customers"
    optionLabel="username"
    placeholder="Select a Customer"
    optionValue="id"
    [required]="true"
  >
  </p-dropdown>
  <div class="borrowing-form">
    <label for="title">Title</label>
    <input
      class="ng-dirty"
      type="text"
      id="title"
      readonly
      pInputText
      formControlName="title"
    />
  </div>
  <div class="borrowing-form">
    <label for="author">Author</label>
    <input
      type="text"
      id="author"
      readonly
      pInputText
      formControlName="author"
    />
  </div>
  <div class="borrowing-form">
    <input
      type="text"
      id="imgUrl"
      readonly
      #imagePath
      hidden
      pInputText
      formControlName="imgUrl"
    />
  </div>
  <div class="borrowing-form">
    <img class="img-responsive" [src]="imagePath.value" />
  </div>
  <div class="form-actions">
    <p-button
      label="Cancel"
      styleClass="p-button-danger"
      (click)="onCancelBorrowing()"
    ></p-button>
    <p-button
      type="submit"
      label="Confirm"
      styleClass="p-button-success"
      [disabled]="!borrowingForm.valid"
    ></p-button>
  </div>
</form>
