.favorite-books-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.favorite-books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    width: 27%;
    height: 350px;
    text-align: center;
    margin-bottom: 40px;
}