.book {
    display: flex;
    align-items: center;
    flex: 1.5;
}

.book-img {
    width: 100px;
    height: 125px;
    margin-right: 10px;
}

.book-description {
    margin-left: 10px;
    font-size: 18px;
}

.book-copies {
    flex: 1;
}

.favorite{
    display: flex;
    justify-content: space-between;
    flex: 0.5;
}

.actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}