.book {
    display: flex;
    align-items: center;
}

.book-img {
    width: 75px;
    height: 100px;
    margin-right: 10px;
}

.deleteBtn {
    width: 60px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.deleteBtn:hover {
    background-color: rgb(200, 0, 0);
}