.book {
    display: flex;
    align-items: center;
    flex: 1.5;
}

.book-img {
    width: 115px;
    height: 150px;
}

.book-description {
    font-size: 20px;
    margin-left: 30px;
}

.book-copies {
    flex: 1;
}

.favorite{
    display: flex;
    justify-content: space-between;
    flex: 0.5;
}

.actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media screen and (max-width: 1150px) {
    .book {
        flex-direction: column;
    }

    .book-img {
        width: 250px;
        height: 300px;
    }

    .book-description {
        margin: 20px 0;
        font-size: 28px;
        text-align: center;
    }

    .book-copies {
        margin: 20px 0;
    }

    .actions {
        margin: 20px 0;
    }
}