<div class="book">
  <img class="book-img" src="{{ book.imgUrl }}" />
  <div class="book-description">
    <p>{{ book.title }}</p>
    <p>{{ book.author }}</p>
  </div>
</div>
<div class="fav-borrow">
  <ng-template [ngIf]="book.isFavorite == false" [ngIfElse]="favorites">
    <p-button
      icon="pi pi-star"
      styleClass="p-button-rounded p-button-help p-button-text"
      (click)="favoritesToggle()"
    ></p-button>
  </ng-template>

  <ng-template #favorites>
    <p-button
      icon="pi pi-star-fill"
      styleClass="p-button-rounded p-button-help p-button-text"
      (click)="favoritesToggle()"
    ></p-button>
  </ng-template>
  <div class="borrowBtn">
    <p-button
      label="Borrow Book"
      styleClass="p-button-warning"
      (click)="onBorrowBook()"
    ></p-button>
  </div>
</div>
<div class="actions">
  <p-button label="Edit" (click)="onEditBook()"></p-button>
  <p-button
    label="Delete"
    styleClass="p-button-danger"
    (click)="onDeleteBook()"
  ></p-button>
</div>
