.edit-header {
    text-align: center;
 }
 
 .customer-form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .customer-form label {
    margin: 5px 0;
    font-size: 20px;
 }
 
 .customer-form input {
    height: 40px;
    width: 300px;
    font-size: 20px;
 }
 
 .form-actions {
    display: flex;
    justify-content: center;
    gap: 200px
 }